a {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 16px;
}

#categoriesRow {
    background-color: #F2C57C
}

#categoriesRow a {
    color: black !important;
}

.productsBackground {
    background-color: rgb(26, 100, 129);
    color: white;
    font-size: 14px;
}

#productsRow a {
    color: black !important;
}

#productSearchBox {
    background-color:LAVENDERBLUSH;
}